// @import '~node_modules/modern-normalize/modern-normalize.css';
@import '../../node_modules/modern-normalize/modern-normalize.css';

* {
  box-sizing: border-box;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  // display: block;
  min-height: 44px;

  font-family: inherit;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
