@charset "UTF-8";
* {
  box-sizing: border-box;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  min-height: 44px;
  font-family: inherit;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Миксин для медиаправил. Пример использования: @include respond-to (tablet-only){ } */
/* Миксин для свойств transition. Через запятую вносятся все свойства, к которым применяется. 
Пример: @include transit (color, background-color); */
/* Миксин для центрирования флексами. По умолчанию все свойства center.
Пример: @include centered; или @include centered($justify:space-between);*/
.borders {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}
@media screen and (min-width: 320px) {
  .borders {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .borders {
    max-width: 768px;
    padding: 0 34px;
  }
}
@media screen and (min-width: 1024px) {
  .borders {
    max-width: 1024px;
    padding: 0 34px;
  }
}

.header-section {
  padding-top: 48px;
  padding-bottom: 97px;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 230px;
}
.header-section__list {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("/home-mobile.158c82c3.jpg");
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header-section__list {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("/home-mobile-x2.fb33ecfb.jpg");
  }
}
@media screen and (min-width: 768px) {
  .header-section__list {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("/home-mobile.158c82c3.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header-section__list {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("/home-mobile-x2.fb33ecfb.jpg");
  }
}
@media screen and (min-width: 1024px) {
  .header-section__list {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("/home-pc.ee1d9a6a.jpg");
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .header-section__list {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("/home-pc-x2.2ef607a9.jpg");
  }
}

.header-container {
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-section__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-logo {
  display: flex;
  align-items: center;
  color: tomato;
}

.header-logo__icon {
  margin-right: 12px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo__label {
  display: none;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  color: #FFFFFF;
  font-family: "Roboto";
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header-logo__label {
    display: block;
  }
}

.header-btns__label:hover,
.header-logo__label:hover {
  color: #FF6B08;
}

.header-btns {
  display: flex;
  margin-bottom: 0;
}

.header-btns__item:not(:last-child) {
  margin-right: 39px;
}

.header-btns__label {
  background-color: transparent;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-form {
  display: flex;
  margin: auto;
  margin-top: 0px;
  max-width: 336px;
  border-bottom: 0.5px solid #FFFFFF;
}

.header-form__input {
  border: none;
  padding: 5px 0px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #FFFFFF;
  outline: none;
  background: none;
  width: 100%;
}
.header-form__input::placeholder {
  color: #FFFFFF;
}

.header-form__search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  margin: 0;
  outline: none;
  width: 21px;
}

.header-form__search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  margin: 0;
  outline: none;
  width: 21px;
}

.is-current {
  position: relative;
}
.is-current::after {
  content: "";
  position: absolute;
  left: 0;
  top: 30px;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #FF6B08;
  border-radius: 2px;
}

.search-error {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  color: #FF001B;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .search-error {
    text-align: center;
  }
}

.header-logo__icon:hover {
  animation: 1500ms ease 0s normal none 1 running pulse;
}

@keyframes pulse {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  10% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  20% {
    transform: scaleX(1) scaleY(1);
  }
  30% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  40% {
    transform: scaleX(1) scaleY(1);
  }
  50% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  60% {
    transform: scaleX(1) scaleY(1);
  }
  70% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  80% {
    transform: scaleX(1) scaleY(1);
  }
  90% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
}

.backdrop--is-hidden {
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  border: 0;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 300px;
  min-width: 600px;
  padding: 30px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  border-radius: 50%;
}

.logInForm {
  display: flex;
  flex-direction: column;
}

.inputStyle {
  border: 1px dashed green;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 50px;
}

.loginSubmitBtn {
  margin-top: 30px;
}

.signInSubmitBtn {
  margin-top: 30px;
}

.btnStyle {
  padding-left: 20px;
  padding-right: 20px;
}

.--is-hidden {
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  border: 0;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

.section {
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}

.main__button-list {
  display: flex;
  margin: 0 auto 20px;
}
@media screen and (min-width: 768px) {
  .main__button-list {
    margin: 0 auto 32px;
  }
}

.main__button-item:first-child {
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .main__button-item:first-child {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .main__button-item:first-child {
    margin-right: 16px;
  }
}

.main__button {
  width: 130px;
  height: 44px;
  border-radius: 5px;
  padding: 13px 15px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  border: 1px solid #000000;
  background-color: #ffffff;
  transition-property: background-color, color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
@media screen and (min-width: 768px) {
  .main__button {
    width: 152px;
  }
}
@media screen and (min-width: 1024px) {
  .main__button {
    width: 147px;
    height: 42px;
  }
}
.main__button:hover, .main__button:focus {
  background-color: #ff6b08;
  color: #ffffff;
  border-color: #ff6b08;
}

.main__movie-card-list {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .main__movie-card-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * 32px);
  }
}
@media screen and (min-width: 1024px) {
  .main__movie-card-list {
    margin-right: calc(-1 * 16px);
  }
}

.main__movie-card-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .main__movie-card-item {
    width: calc((100% - 32px * 2) / 2);
    margin-right: 16px;
    margin-left: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .main__movie-card-item {
    width: calc((100% - 16px * 3) / 3);
    margin-right: 8px;
    margin-left: 8px;
  }
}
.main__movie-card-item:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .main__movie-card-item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .main__movie-card-item:not(:nth-last-child(-n+2)) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1024px) {
  .main__movie-card-item:not(:nth-last-child(-n+2)) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .main__movie-card-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 32px;
  }
}

.main__movie-img {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
}
@media screen and (min-width: 1024px) {
  .main__movie-img {
    margin-bottom: 8px;
  }
}

.main__movie-title {
  text-transform: uppercase;
}

.main__movie-title,
.main__movie-genre {
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.main__movie-genre {
  display: inline;
  color: #ff6b08;
}

.main__movie-year::before {
  content: "";
  width: 1px;
  height: 10px;
  margin: 0 3px;
  display: inline-block;
  background-color: #ff6b08;
}

.main__movie-raiting {
  display: none;
  margin-left: 8px;
  padding-right: 9px;
  padding-left: 9px;
  color: #ffffff;
  background-color: #ff6b08;
  border-radius: 5px;
  font-size: 12px;
  line-height: 1.16;
  font-weight: 500;
}

.details__backdrop {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  z-index: 1;
  transition: 0.5s linear;
  overflow-y: scroll;
  background-repeat: no-repeat;
  background-size: cover;
}
.details__modal {
  display: block;
  position: absolute;
  width: 90%;
  top: 20px;
  z-index: 2;
  padding: 48px 20px 40px;
  background-color: white;
}
@media screen and (min-width: 768px) {
  .details__modal {
    top: 219px;
    width: 704px;
    padding: 40px 72px 40px 36px;
  }
}
@media screen and (min-width: 1024px) {
  .details__modal {
    top: 151px;
    width: 814px;
    padding: 40px 16px;
  }
}
.details__close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 8px;
  right: 8px;
  min-width: 30px;
  min-height: 30px;
  padding: 0;
  background-color: #ffffff;
}
.details__close-button:hover, .details__close-button:focus {
  fill: #ff6b08;
}
.details__box {
  display: block;
  margin: 0 auto;
  width: 240px;
}
@media screen and (min-width: 768px) {
  .details__box {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.details__poster {
  display: block;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .details__poster {
    margin-right: 68px;
  }
}
@media screen and (min-width: 1024px) {
  .details__poster {
    margin-right: 16px;
    margin-bottom: 0;
  }
}
.details__image {
  display: block;
  border-radius: 5px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .details__image {
    width: 264px;
    height: 374px;
  }
}
@media screen and (min-width: 1024px) {
  .details__image {
    width: 375px;
    height: 478px;
  }
}
.details__info {
  display: block;
}
@media screen and (min-width: 768px) {
  .details__info {
    width: 264px;
  }
}
@media screen and (min-width: 1024px) {
  .details__info {
    width: 391px;
  }
}
.details__title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 500;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .details__title {
    font-size: 30px;
    line-height: 1.17;
  }
}
.details__attributesList li:not(:last-child) {
  margin-bottom: 8px;
}
.details__attributesList {
  margin-bottom: 20px;
}
.details__attribute {
  display: inline-block;
  width: 152px;
  color: #8C8C8C;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
}
.details__attribute-value {
  font-size: 12px;
  line-height: 1.17;
  font-weight: 500;
}
.details__attribute-vote {
  display: inline-block;
  width: 36px;
  height: 16px;
  background-color: #ff6b08;
  border-radius: 5px;
  color: #fff;
  line-height: 1.33;
  text-align: center;
}
.details__attribute-title {
  text-transform: uppercase;
}
.details__subtitle {
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
}
.details__description {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.67;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .details__description {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1024px) {
  .details__description {
    margin-bottom: 20px;
  }
}
.details__buttonSet {
  display: flex;
}

.details__button {
  width: 110px;
  height: 44px;
  border-radius: 5px;
  padding: 6px 10px 6px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  border: 1px solid #000000;
  background-color: #ffffff;
  transition-property: background-color, color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
@media screen and (min-width: 768px) {
  .details__button {
    width: 125px;
  }
}
@media screen and (min-width: 1024px) {
  .details__button {
    width: 136px;
  }
}
.details__button:hover, .details__button:focus {
  background-color: #ff6b08;
  color: #ffffff;
  border-color: #ff6b08;
}

.details__button:not(:last-child) {
  margin-right: 20px;
  transition-property: background-color, color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
@media screen and (min-width: 768px) {
  .details__button:not(:last-child) {
    margin-right: 15px;
  }
}

.isHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.loader {
  display: none;
  color: #ff6b08;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.upBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.upBtn:hover {
  fill: #ff6b08;
  border: 1px solid #ff6b08;
  transition-property: background-color, fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.upBtn__svg {
  width: 20px;
  height: 20px;
}

.slider-section {
  margin-top: 15px;
  margin-bottom: 15px;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/* slider */
.slider-container {
  width: 100%;
  overflow: hidden;
}

.slider-track {
  display: flex;
  transition: 200ms;
}

.slider-item {
  min-width: 124px;
}
.slider-item:hover, .slider-item:focus {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .slider-item {
    min-width: 145px;
  }
}
@media screen and (min-width: 1024px) {
  .slider-item {
    min-width: 150px;
  }
}
.slider-item:not(last-child) {
  margin-right: 10px;
}

.slider-images {
  border-radius: 5px;
}

.slider-headline {
  margin: 0 auto 10px;
}

.slider-btns {
  background-color: transparent;
  font-size: 40px;
  color: #8C8C8C;
  transition: 150ms;
  opacity: 50%;
}
.slider-btns:hover {
  opacity: 1;
  color: #ff6b08;
}

.btn-prev {
  position: absolute;
  left: -30;
  top: 50%;
  transform: translateY(-50%);
}

.btn-next {
  position: absolute;
  right: -30;
  top: 50%;
  transform: translateY(-50%);
}

body.light-theme {
  background-color: #fff;
}

.light-on {
  background-color: #14d040;
}

.dark-on {
  background-color: #883e1b;
  color: #fff;
}

body.dark-theme {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("/home-pc-x2.2ef607a9.jpg");
  color: #fff;
  background-size: cover;
  width: 100%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #333;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.footer {
  background-color: #F7F7F7;
  width: 100%;
}
.footer__section {
  margin: 0 auto;
  padding: 30px 36px 30px 48px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #545454;
}
@media screen and (min-width: 768px) {
  .footer__section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    line-height: 1.19;
  }
}
.footer__section--flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__section--text {
    margin-left: 5px;
  }
}
.footer__section--link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  border: none;
  background-color: transparent;
  color: #545454;
  text-decoration-line: underline;
  cursor: pointer;
  padding: 0;
}
.footer__section--link:hover, .footer__section--link:focus {
  color: #ff6b08;
}
@media screen and (max-width: 1023px) {
  .footer__section--link {
    font-size: 16px;
    line-height: 1.19;
  }
}
.footer__section--svg {
  margin-right: 10px;
  margin-left: 10px;
  width: 14px;
  height: 12px;
}

.footer-backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
  z-index: 2;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.footer-modal {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}
.footer-modal__container {
  position: relative;
  width: 320px;
  padding: 30px;
}
@media screen and (min-width: 768px) {
  .footer-modal__container {
    width: 720px;
    padding: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .footer-modal__container {
    width: 900px;
  }
}
.footer-modal__close {
  position: absolute;
  top: 4px;
  right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 30px;
  min-height: 30px;
  padding: 0;
  background-color: transparent;
  border: none;
}
.footer-modal__close--svg {
  fill: #545454;
}
.footer-modal__close--svg :hover,
.footer-modal__close--svg :focus {
  fill: #ff6b08;
  width: 20px;
}
.footer-modal__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-bottom: 25px;
}
.footer-modal__list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.footer-modal__item {
  position: relative;
  margin: 0 10px;
  width: 250px;
  height: 250px;
  border-radius: 30px;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .footer-modal__item {
    width: 250px;
    height: 250px;
  }
}
@media screen and (min-width: 768px) {
  .footer-modal__item {
    width: 185px;
    height: 185px;
  }
}
@media screen and (max-width: 1023px) {
  .footer-modal__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .footer-modal__item:nth-child(-n+6) {
    margin-bottom: 20px;
  }
}
.footer-modal__item--container {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  border-radius: 50%;
}
.footer-modal__item--container:hover {
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 1s;
}
.footer-modal__item--container:hover .footer-modal__description {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  z-index: 6;
}
.footer-modal__item--container:hover .footer-modal__description h3::after {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 6;
}
.footer-modal__item--img {
  margin-bottom: 7px;
  width: 100%;
  min-height: 100%;
  transition: 1s;
  transform: scale(1.1);
}
.footer-modal__item--img:hover {
  opacity: 0.8;
}
.footer-modal__item--img:hover {
  transform: scale(1.2);
  border-radius: 30px;
  z-index: 5;
}
.footer-modal__description {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em 0;
  opacity: 0;
  background-color: rgba(54, 54, 54, 0.8);
  width: 100%;
  height: 100%;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(100%, 0, 0);
}
.footer-modal__description::before, .footer-modal__description::after {
  pointer-events: none;
}
.footer-modal__description p {
  position: absolute;
  width: 100%;
  color: #ff6b08;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
}
@media screen and (max-width: 767px) {
  .footer-modal__description p {
    top: 110px;
  }
}
@media screen and (min-width: 768px) {
  .footer-modal__description p {
    top: 90px;
  }
}
.footer-modal__description h3 {
  position: absolute;
  width: 100%;
  color: #fff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.33;
}
@media screen and (max-width: 767px) {
  .footer-modal__description h3 {
    top: 80px;
  }
}
@media screen and (min-width: 768px) {
  .footer-modal__description h3 {
    top: 38px;
  }
}
.footer-modal__description h3::after {
  position: absolute;
  width: 80%;
  height: 3px;
  background-color: #fff;
  content: "";
  transition: transform 0.6s;
  transform: translate3d(-100%, 0, 0);
}
@media screen and (max-width: 767px) {
  .footer-modal__description h3::after {
    top: 55px;
    left: 25px;
  }
}
@media screen and (min-width: 768px) {
  .footer-modal__description h3::after {
    top: 43px;
    left: 18px;
  }
}
.footer-modal__social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
  position: absolute;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .footer-modal__social-links {
    top: 160px;
    right: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer-modal__social-links {
    top: 117px;
    left: 6px;
  }
}
.footer-modal__social-link {
  z-index: 99;
  margin-right: 15px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.footer-modal__social-link--svg {
  fill: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-modal__social-link--svg.linkedin {
  width: 43px;
  height: 43px;
  border-radius: 50%;
}
.footer-modal__social-link--svg:hover, .footer-modal__social-link--svg:focus {
  fill: #ff6b08;
}

/*# sourceMappingURL=/sass.0a7c4b30.css.map */