<!-- Modal -->
<div class="modal fade isHidden" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Бажаєте підписатися на оновлення?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="feedback-form" autocomplete="off">
                    <label>
                        Name
                        <input type="text" class="form-input" name="username" autofocus />
                    </label>
                    <label>
                        Email
                        <input type="email" class="form-input" name="email" autofocus />
                    </label>

                    <button type="submit" class="form-submit">Підписатися</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                <!-- <button type="button" class="btn btn-primary">Підписатися</button> -->
            </div>
        </div>
    </div>
</div>