<section class="details isHidden">
    <div class="details__backdrop">
        <div class="details__modal">
            <button class="details__close-button" type="button">
                <svg width="14px" height="14px">
                    <use href="/src/images/sprite.svg#footer-modal-close"></use>
                </svg>
            </button>
            <div class="details__box">
                <div class="details__info">
                    <div class="details__buttonSet">
                        <button class="details__button addToWatchedBtn-JS details__button-accent" type="button"
                            data-action="details-watched-btn">add to
                            watched</button>
                        <button class="details__button removeFromWatchedBtn-JS isHidden" type="button"
                            data-action="details-del-watched-btn">remove from
                            watched</button>
                        <button class="details__button addToQueueBtn-JS" type="button"
                            data-action="details-queue-btn">add to
                            queue</button>
                        <button class="details__button removeFromQueueBtn-JS isHidden" type="button"
                            data-action="details-del-queue-btn">remove from
                            queue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

"lodash.throttle": "^4.1.1",