<footer class="footer" id="footer-switch">
    <div class="footer__section">
        <p>&#169 2022 | All Rights Reserved |</p>
        <div class="footer__section--flex">
            <p class="footer__section--text">Developed with by</p>
            <span>
                <svg class="footer__section--svg">
                    <use href="/src/images/sprite.svg#heart"></use>
                </svg>
            </span>
            <button class="footer__section--link" data-modal-footer-open>GoIT Students</button>
        </div>
    </div>
</footer>
