<div class="footer-backdrop is-hidden">
    <div class="footer-modal">
        <div class="footer-modal__container">
            <h2 class="footer-modal__title">LEGO.DEV group</h2>
            <button class="footer-modal__close" data-modal-footer-close aria-label="close">
                <svg class="footer-modal__close--svg" width="18px" height="18px">
                    <use href="/src/images/sprite.svg#footer-modal-close"></use>
                </svg>
            </button>
            <div class="footer-modal__list">
                <div class="footer-modal__item">
                    <div class="footer-modal__item--container">
                        <img class='footer-modal__item--img' src="/src/images/team/photo_1.jpg" alt="">
                        <div class="footer-modal__description">
                            <h3>OLENA POHYBIL</h3>
                            <p>Team Lead</p>
                            <div class="footer-modal__social-links">
                                <a class='footer-modal__social-link' href="https://github.com/Lentuss" target="_blank">
                                    <svg class="footer-modal__social-link--svg">
                                        <use href="/src/images/sprite.svg#github"></use>
                                    </svg>
                                </a>
                                <a class='footer-modal__social-link'
                                    href="https://www.linkedin.com/in/olena-pohybil-4725b7220/" target="_blank">
                                    <svg class="footer-modal__social-link--svg linkedin">
                                        <use href="/src/images/sprite.svg#linkedin"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-modal__item">
                    <div class="footer-modal__item--container">
                        <img class='footer-modal__item--img' src="/src/images/team/photo_2.jpg" alt="">
                        <div class="footer-modal__description">
                            <h3>ANASTASIIA ZHYLTSOVA</h3>
                            <p>Scrum Master</p>
                            <div class="footer-modal__social-links">
                                <a class='footer-modal__social-link' href="https://github.com/AnastasiiaZhyltsova"
                                    target="_blank">
                                    <svg class="footer-modal__social-link--svg">
                                        <use href="/src/images/sprite.svg#github"></use>
                                    </svg>
                                </a>
                                <a class='footer-modal__social-link'
                                    href="https://www.linkedin.com/in/anastasiia-zhyltsova/" target="_blank">
                                    <svg class="footer-modal__social-link--svg linkedin">
                                        <use href="/src/images/sprite.svg#linkedin"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-modal__item">
                    <div class="footer-modal__item--container">
                        <img class='footer-modal__item--img' src="/src/images/team/photo_3.jpg" alt="">
                        <div class="footer-modal__description">
                            <h3>OLEKSANDR PAVLISHCHEV</h3>
                            <p>Frond End Developer</p>
                            <div class="footer-modal__social-links">
                                <a class='footer-modal__social-link' href="https://github.com/velogitara/"
                                    target="_blank">
                                    <svg class="footer-modal__social-link--svg">
                                        <use href="/src/images/sprite.svg#github"></use>
                                    </svg>
                                </a>
                                <a class='footer-modal__social-link'
                                    href="https://www.linkedin.com/in/alex-pavlishchev-54a7bb241/" target="_blank">
                                    <svg class="footer-modal__social-link--svg linkedin">
                                        <use href="/src/images/sprite.svg#linkedin"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-modal__item">
                    <div class="footer-modal__item--container">
                        <img class='footer-modal__item--img' src="/src/images/team/photo_4.jpg" alt="">
                        <div class="footer-modal__description">
                            <p>Frond End Developer</p>
                            <h3>ANASTASIIA TARASIUK</h3>
                            <div class="footer-modal__social-links">
                                <a class='footer-modal__social-link' href="https://github.com/Anastasiia-Tarasiuk"
                                    target="_blank">
                                    <svg class="footer-modal__social-link--svg">
                                        <use href="/src/images/sprite.svg#github"></use>
                                    </svg>
                                </a>
                                <a class='footer-modal__social-link'
                                    href="https://www.linkedin.com/in/anastasiia-tarasiuk-a20a96240" target="_blank">
                                    <svg class="footer-modal__social-link--svg linkedin">
                                        <use href="/src/images/sprite.svg#linkedin"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-modal__item">
                    <div class="footer-modal__item--container">
                        <img class='footer-modal__item--img' src="/src/images/team/photo_5.jpg" alt="">
                        <div class="footer-modal__description">
                            <p>Frond End Developer</p>
                            <h3>ANDRII BEHA</h3>
                            <div class="footer-modal__social-links">
                                <a class='footer-modal__social-link' href="https://github.com/andriibeha"
                                    target="_blank">
                                    <svg class="footer-modal__social-link--svg">
                                        <use href="/src/images/sprite.svg#github"></use>
                                    </svg>
                                </a>
                                <a class='footer-modal__social-link'
                                    href="https://www.linkedin.com/in/andrii-beha-24468b22a" target="_blank">
                                    <svg class="footer-modal__social-link--svg linkedin">
                                        <use href="/src/images/sprite.svg#linkedin"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-modal__item">
                    <div class="footer-modal__item--container">
                        <img class='footer-modal__item--img' src="/src/images/team/photo_6.jpg" alt="">
                        <div class="footer-modal__description">
                            <h3>ROMAN PYRYN</h3>
                            <p>Frond End Developer</p>
                            <div class="footer-modal__social-links">
                                <a class='footer-modal__social-link' href="https://github.com/RomanPyryn"
                                    target="_blank">
                                    <svg class="footer-modal__social-link--svg">
                                        <use href="/src/images/sprite.svg#github"></use>
                                    </svg>
                                </a>
                                <a class='footer-modal__social-link'
                                    href="https://www.linkedin.com/in/roman-pyryn-895812239/" target="_blank">
                                    <svg class="footer-modal__social-link--svg linkedin">
                                        <use href="/src/images/sprite.svg#linkedin"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-modal__item">
                    <div class="footer-modal__item--container">
                        <img class='footer-modal__item--img' src="/src/images/team/photo_7.jpg" alt="">
                        <div class="footer-modal__description">
                            <h3>NATALIA STEBEL</h3>
                            <p>Frond End Developer</p>
                            <div class="footer-modal__social-links">
                                <a class='footer-modal__social-link' href="https://github.com/natalia-stebel"
                                    target="_blank">
                                    <svg class="footer-modal__social-link--svg">
                                        <use href="/src/images/sprite.svg#github"></use>
                                    </svg>
                                </a>
                                <a class='footer-modal__social-link' href="#">
                                    <svg class="footer-modal__social-link--svg linkedin">
                                        <use href="/src/images/sprite.svg#linkedin"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-modal__item">
                    <div class="footer-modal__item--container">
                        <img class='footer-modal__item--img' src="/src/images/team/photo_8.jpg" alt="">
                        <div class="footer-modal__description">
                            <h3>DANYLO FATEEV</h3>
                            <p>Frond End Developer</p>
                            <div class="footer-modal__social-links">
                                <a class='footer-modal__social-link' href="https://github.com/Danila-Fateev"
                                    target="_blank">
                                    <svg class="footer-modal__social-link--svg">
                                        <use href="/src/images/sprite.svg#github"></use>
                                    </svg>
                                </a>
                                <a class='footer-modal__social-link' href="#">
                                    <svg class="footer-modal__social-link--svg linkedin">
                                        <use href="/src/images/sprite.svg#linkedin"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-modal__item">
                    <div class="footer-modal__item--container">
                        <img class='footer-modal__item--img' src="/src/images/team/photo_9.jpg" alt="">
                        <div class="footer-modal__description">
                            <h3>VASIL MASLOV</h3>
                            <p>Frond End Developer</p>
                            <div class="footer-modal__social-links">
                                <a class='footer-modal__social-link' href="https://github.com/maslovvasil"
                                    target="_blank">
                                    <svg class="footer-modal__social-link--svg">
                                        <use href="/src/images/sprite.svg#github"></use>
                                    </svg>
                                </a>
                                <a class='footer-modal__social-link' href="#">
                                    <svg class="footer-modal__social-link--svg linkedin">
                                        <use href="/src/images/sprite.svg#linkedin"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>