<main>
  <section id="section-switch" class="section">
    <div class="container">
      <h1 class="visually-hidden">The best filmoteka ever</h1>
      <ul class="main__button-list">
        <li class="main__button-item">
          <button class="main__button trends-of-day">Daily Trends</button>
        </li>
        <li class="main__button-item">
          <button class="main__button trends-of-week">Weekly Trends</button>
        </li>
      </ul>
      <ul class="main__movie-card-list"></ul>
    </div>
  </section>
</main>