<main>
  <section id="section-switch" class="section">
    <div class="container">
      <h1 class="visually-hidden">The best filmoteka ever</h1>
      <ul class="main__button-list">
        <li class="main__button-item">
          <button id="button-color-day" class="main__button trends-of-day is-active">Daily Trends</button>

        </li>
        <li class="main__button-item">
          <button id="button-color-week" class="main__button trends-of-week">
            Weekly Trends
          </button>
        </li>
      </ul>
      <p class="main__search-error visually-hidden">Search result not successful. Enter the correct movie name.</p>
      <ul class="main__movie-card-list"></ul>
    </div>
  </section>
</main>
