<!-- Modal -->
<div class="describe-modal isHidden" id="exampleModal" tabindex="-1">
  <div class="describe-modal__dialog">
    <div class="describe-modal__content">
      <div class="describe-modal__header">
        <h5 class="describe-modal__title" id="exampleModalLabel">Wish to subscribe to the upgrade?</h5>
        <button type="button" class="describe-modal__close" data-modalClose aria-label="Close">
          <svg class="describe-modal__close--svg" width="18px" height="18px">
            <use href="/src/images/sprite.svg#footer-modal-close"></use>
          </svg>
        </button>
      </div>
      <div class="describe-modal__body">
        <form class="describe-form" autocomplete="off">
          <label class="describe-form__label">
            <span>Name</span>
            <input type="text" class="describe-form__input" name="username" autofocus />
          </label>
          <label class="describe-form__label">
            <span>Email</span>
            <input type="email" class="describe-form__input" name="email" />
          </label>
          <div class="describe-form__button"><button type="submit" class="describe-form__submit">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>