* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/* task-1 styles */
.switcherButtons{
  margin: -10px;
  padding: 100px 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  height: 40px;
  min-width: 120px;
  margin: 10px;
  padding: 10px 0;
  
  text-align: center;
  text-transform: uppercase;

  border:1px solid #212121;
  border-radius: 5px;

  cursor: pointer;

  box-shadow: #212121 2px 4px 6px;
}

button:hover, button:focus{
  font-weight: bold;
}

button:disabled{
  font-weight: normal;

  cursor: no-drop;

  border-color: transparent;
  box-shadow: #212121 1px 2px 6px;
}

[data-start] {
  background-color: rgb(170, 238, 185);
  
}

[data-stop]{
  background-color:rgb(238, 172, 170);
}

/* task-2 styles */

.timerInput{
  display: flex;
  justify-content: center;
  align-items: center;
}
#datetime-picker:disabled{
  cursor: no-drop;
  border-color: transparent;
  box-shadow: #212121 1px 2px 6px;

}

#datetime-picker{
  height: 40px;
  width: 140px;
  background-color: rgba(139, 209, 241, 0.905);
  border: 1px solid #212121;
  border-radius: 4px;
  box-shadow: #212121 1px 2px 6px;

  text-align: center;
}
.timer{
  display:flex;
  justify-content: center;

  align-items: center;
  align-content: center;
  text-align: center;
}
.field{
  margin: 5px;
  width: 100px;
  height: 60px;

  border: 2px solid #212121;
  border-radius: 4px;
  background-color: rgb(240, 222, 144);
  box-shadow: #212121 1px 2px 6px;

}
.field span{
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}

/* task-3 styles */
.form{
  padding: 0 15px;
  
  background-color: rgb(253, 249, 211);
  box-shadow: #212121 1px 2px 6px;

}
.form button{
  min-width: 160px;
  background-color: aqua;
}


/* animation */

.onCount{
  animation: animateTransform 3s infinite;
}

@keyframes animateTransform {
  0% {
    transform: perspective(200px) rotateY(0deg);
  }
  25% {
    transform: perspective(200px) rotateY(10deg);
  }
  50% {
    transform: perspective(200px) rotateY(0deg);
  }
  75% {
    transform: perspective(200px) rotateY(-10deg);
  }
  100% {
    transform: perspective(200px) rotateY(0deg);
  }
}