.describe-modal {
    position: absolute;
    bottom: 10px;
    right: 10px;
    
    max-width: 350px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: rgba(54, 54, 54, 0.95);
    border-radius: 4px;

    font-family: 'Roboto';
    font-style: normal;
    line-height: 1.33;

    &__title {
        font-weight: 500;
        font-size: 20px;
        color: #fff;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 15px;
    }

    &__close {
        position: absolute;
        top: 4px;
        right: 4px;
        @include centered;

        min-width: 30px;
        min-height: 30px;
        padding: 0;

        background-color: transparent;
        border: none;
    }

    &__close--svg {
        fill: #545454;

        :hover,
        :focus {
            fill: #ff6b08;
            width: 20px;
        }
    }
}

.describe-form {
    &__label {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

    }

    &__label span {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        margin-bottom: 3px
    }

    &__input {
        padding: 5px 10px;
        height: 40px;
        width: 100%;
        border-radius: 5px;
        background-color: transparent;
        border: 1.5px solid #000;
        color: #fff;

        &:hover,
        &:focus {
            border: 1px solid #ff6b08;
        }
    }

    &__button {
        @include centered;
    }

    &__submit {
        height: 44px;
        text-transform: uppercase;
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 13px 36px;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.33;
        transition-property: background-color, color, border-color;
        transition-duration: .25s;
        transition-timing-function: cubic-bezier(.6, -.28, .735, .045);

        &:hover,
        &:focus {
            color: #fff;
            background-color: #ff6b08;
            border-color: #ff6b08;
        }
    }
}