 .filters{
    @include centered;
    margin: 20px auto 0;
    font-family: 'Roboto';
    @include respond-to(mobile-only) {
        width: 300px;
        flex-wrap: wrap;
        align-items: center;
    }
}

.filter{
    cursor: pointer;
    position: relative;
    background-color:rgba($color: $footer-text-color, $alpha: 0.8);
        &:hover .filter--title::after{
        width: 100%;
        left: 0;
        opacity: 1;
        }
        &:hover .filter--list{
            left: 0;
        }
        &:not(:last-child){
            margin-right: 15px;
        }
        @include respond-to(mobile-only) {
            &:nth-child(-n+2) {
                margin-bottom: 10px;
                &:nth-child(even){
                    margin-right: 0;
                }    
            }
        } 
}

.filter--title {
    @include centered;
    position: relative;
    color: $header-text-color;
    width: 112px;
    height: 29px;
    text-align: center;
    border-radius: 5px;
    // padding: 5.25px;

    font-family: inherit;
    transition: color .25s cubic-bezier(.4, 0, .2, 1);

    &::after {
        position: absolute;    
        height: 3px;
        background-color: $accent-color;
        content: '';
        transition: width 0.3s ease;
        top: 25px;
        border-radius: 2px;
        opacity: 0;
     }
    &::before,
    &::after {
        pointer-events: none;
    }
}

.filter--title:hover,
.filter--title:focus {
    color: $second-accent-color;

}
.filter--list{
    position: absolute;
    z-index: 4;
    width: 112px;
    background-color: $footer-text-color;
    text-align: center;
    color: $header-text-color;

    height: 110px;
    overflow: hidden;
    overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 0;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $accent-color;
            border-radius: 9em;
            width: 20px;
            height: 20px;
         }

        &:hover .filter--title::after,
        &:focus .filter--title::after {
            width: 100%;
            transition: transform 0.6s;
        }      
}
.filter--item__genre{
    margin-top: 3px;
    &:hover,
    &:focus{
    background-color: $accent-color;
    }
}
.filter--item__year{
    margin-top: 3px;
    &:hover,
    &:focus{
    background-color: $accent-color;
    }
}

.filter-item__color{
  background-color: $accent-color;
}

.header__select {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: block;
    height: 29px;
    width: 112px;

    font-family: 'Roboto';
    text-align: center;

    color: $header-text-color;

    &::before {
        position: absolute;
        height: 3px;
        background-color: $accent-color;
        content: '';
        transition: width 0.3s ease;
        top: 25px;
        border-radius: 2px;
        opacity: 0;
    }
}

.header__select--item {
    background-color: transparent;

    &:hover {
        background-color: $second-accent-color;
    }
}

option:checked {
    background-color: $second-accent-color;
    box-shadow: 0 0 10px 100px #fff inset;
}