.borders {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;



  @media screen and (min-width: 320px) {
    max-width: 320px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 34px;
  
  }
  @media screen and (min-width: 1024px) {
    max-width: 1024px;
    padding: 0 34px;
    // padding-bottom: 80px;
  }
}

.header-section {

  padding-top: 15px;
  height: 250px;

  @media screen and (min-width: 768px){
  padding-top: 30px;
  padding-bottom: 80px;
  background-color: rgba(0, 0, 0, 0.8);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 230px;}

  &__list {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url("../images/home-mobile.jpg");

      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
          url("../images/home-mobile-x2.jpg");
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url("../images/home-tablet.jpg");

      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url("../images/home-tablet-x2.jpg");
    }
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url("../images/home-pc.jpg");

      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url("../images/home-pc-x2.jpg");
    }
  }
}
}

.header-container {
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-section__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  color: tomato;
}
.header-logo__icon {
  margin-right: 12px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.header-logo__label {
  display: none;

  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  color: #FFFFFF;
  font-family: 'Roboto';
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  


  @media screen and (min-width: 768px) {
    display: block;
  }
}


.header-btns__label:hover,
.header-logo__label:hover {
  color: #FF6B08;
 
}

.header-btns {
  display: flex;
  margin-bottom: 0;
}

.header-btns__item {
  &:not(:last-child) {
    margin-right: 20px;
    
  }
}

.header-btns__label {
background-color: transparent;

color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.header-form {
  display: flex;
  margin: auto;
  margin-top: 0px;
  max-width: 336px;
  border-bottom: 0.5px solid #FFFFFF;}
 

.header-form__input {
  border: none;
  padding: 5px 0px;

  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #FFFFFF;
  outline: none;
  background: none;
  width: 100%;

  &::placeholder {
    color: #FFFFFF;
  }
}

.header-form__search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  margin: 0;
  outline: none;
  width: 21px;
}

.header-form__search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  margin: 0;
  outline: none;
  width: 21px;
}

.is-current {
  position: relative;

  &::after {
    content: '';

    position: absolute;
    left: 0;
    top: 30px;


    display: block;
    width: 100%;
    height: 3px;
    background-color: #FF6B08;
    border-radius: 2px;
  }
}

.search-error{


font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1.14;


text-align: left;
color: #FF001B;

margin-top: 20px;

@media screen and (min-width: 768px)
  
{text-align: center;}
}

.header-logo__icon:hover
{
  animation: rotate 4s linear ;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  40% {
    transform: rotate(90deg)
  }
  60% {
    transform: rotate(270deg)
  }
  100% {
    transform: rotate(360deg)
  }}


  .bounce{
    animation-name: bounce;
    -webkit-animation-name: bounce; 
 
    animation-duration: 1.6s;   
    -webkit-animation-duration: 1.6s;
 
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
     
    transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;  
    
    
}
 
@keyframes bounce {
    0% {
        transform: translateY(0%) scaleY(0.6);
    }
    60%{
        transform: translateY(-100%) scaleY(1.1);
    }
    70%{
        transform: translateY(0%) scaleY(0.95) scaleX(1.05);
    }
    80%{
        transform: translateY(0%) scaleY(1.05) scaleX(1);
    }   
    90%{
        transform: translateY(0%) scaleY(0.95) scaleX(1);
    }               
    100%{
        transform: translateY(0%) scaleY(1) scaleX(1);
    }   
}
 
@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(0%) scaleY(0.6);
    }
    60%{
        -webkit-transform: translateY(-100%) scaleY(1.1);
    }
    70%{
        -webkit-transform: translateY(0%) scaleY(0.95) scaleX(1.05);
    }
    80%{
        -webkit-transform: translateY(0%) scaleY(1.05) scaleX(1);
    }   
    90%{
        -webkit-transform: translateY(0%) scaleY(0.95) scaleX(1);
    }               
    100%{
        -webkit-transform: translateY(0%) scaleY(1) scaleX(1);
    }       
}

.switch-icon{
  fill:#FF6B08
}

.switch-icon:hover{
  animation: 1300ms ease 0s normal none 1 running shake;
}
@keyframes shake {
0% {
    transform: rotateZ(0deg);
}
10% {
    transform: rotateZ(-30deg);
}
20% {
    transform: rotateZ(15deg);
}
30% {
    transform: rotateZ(-10deg);
}
40% {
    transform: rotateZ(7.5deg);
}
50% {
    transform: rotateZ(-6deg);
}
60% {
    transform: rotateZ(5deg);
}
70% {
    transform: rotateZ(-4.28571deg);
}
80% {
    transform: rotateZ(3.75deg);
}
90% {
    transform: rotateZ(-3.33333deg);
}
100% {
    transform: rotateZ(0deg);
}
}
